Flask==2.2.5
Flask-Cors==4.0.0
gunicorn==21.2.0
pandas==2.2.2
numpy==1.26.4
opencv-python-headless==4.7.0.72
Pillow==10.2.0

torch==2.2.0
torchvision==0.17.0

tensorflow==2.12.0

ultralytics==8.0.196
matplotlib==3.8.2
